<div class="media border p-3">
    <img src="../../assets/images/mongoDB.jpeg" alt="MongoDB" class="mr-3 mt-3" style="width:150px;">
    <div class="media-body">
      <h4>MongoDB <small><i>Posted on June 19, 2022</i></small></h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi nobis, atque minus in tenetur quidem id laboriosam incidunt fugit reiciendis sapiente, aliquam similique repellat quae maxime adipisci perferendis iusto! Nihil?</p>
      <div class="media p-3">
        <img src="../../assets/images/express.jpeg" alt="express" class="mr-3 mt-3" style="width:150px;">
        <div class="media-body">
          <h4>Express JS <small><i>Posted on  June 19, 2022</i></small></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum officia nihil eveniet veritatis officiis maxime, temporibus repudiandae porro. Id, quos distinctio ad voluptatum dolore quibusdam aspernatur. Debitis magnam distinctio architecto.</p>
          <div class="media p-3">
            <img src="../../assets/images/angular.jpeg" alt="angular" class="mr-3 mt-3" style="width:150px;">
            <div class="media-body">
              <h4>Angular <small><i>Posted on  June 19, 2022</i></small></h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum officia nihil eveniet veritatis officiis maxime, temporibus repudiandae porro. Id, quos distinctio ad voluptatum dolore quibusdam aspernatur. Debitis magnam distinctio architecto.</p>
              <div class="media p-3">
                <img src="../../assets/images/nodeJS.jpeg" alt="NodeJS" class="mr-3 mt-3" style="width:150px;">
                <div class="media-body">
                  <h4>Node JS <small><i>Posted on  June 19, 2022</i></small></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum officia nihil eveniet veritatis officiis maxime, temporibus repudiandae porro. Id, quos distinctio ad voluptatum dolore quibusdam aspernatur. Debitis magnam distinctio architecto.</p>
                </div>
            </div>
        </div>
      </div> 
    </div>
  </div>
  