<h2>Contact Detail</h2>
<form class="form">
    <textarea name="" id="messsage" cols="50" rows="10">Feedback</textarea><br/>
    <label for="email">Email address:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="email">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
    <button type="submit" class="btn btn-primary" (click)="closePopup()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="closePopup()">Cancel</button>
  </form>
